{% extends app.request.isXmlHttpRequest() ? 'NineThousandDuplexiconBundle::ajax.html.twig' : 'NineThousandDuplexiconBundle::layout.html.twig' %}
{% block title %} The Duplexicon {% endblock title %}
{% block body %}
<h1>Hello Again</h2>
{% endblock %}

